/*estilização padrão de todas as páginas*/


body {
    background-color: #F6F5F5;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #D3E0EA;
    background-image: url(./img/fundo-header.png);
    background-position-y: -35px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}


#titulo-page {
    text-align: center;
    font-size: 50px;
    padding: 60px;
    margin: 0px;
    max-width: 100%;
}

#titulo-page a {
    color: #276678;
    text-decoration: none;
}

#barra-nav {
    margin: auto;
}

.container-fluid {
    border: #276678 solid 2px;
    padding: 0px;
}

.nav-item{
    padding: 0 50px;
}

.navbar {
    padding: 0;
}

/* Estilização da vitrine*/

.produto {
    padding-top: 15px;
    padding-bottom: 15px ;
}

.produto a {
    text-decoration: none;
}

.produto h5 {
    margin: 0;
    color: #276678;
    padding-top: 5px ;
    padding-bottom: 5px ;
}

.produto img {
    width: 100%;
}

.produto .price {
    color: #1687A7;
}



/* estilização da página do produto */

.fotos {
    padding-top: 30px;
}

.fotos h2 , .fotos h5 {
    color: #276678;
}

.fotos h4 {
    color: #1687A7;
    padding-top: 20px;
    padding-bottom: 10px;
}

#formas-pagamento {
    list-style: none;
    padding-left: 0;

}

.pag-icon {
    width: 30px;
    text-align: center;
    font-size: 125%;
    color: #276678;
}

button {
    padding-top: 30px ;
}

.btn-primary , .btn-primary:hover , .btn-primary:active, .btn-primary:focus {
    background-color: #276678;
    color: #F6F5F5;
}

li {
    color: #1687A7;
}

/* estilização institucional*/

.container-infos {
    text-align: center;
}

.inst {
    color: #276678;
}

.infos {
    color: #1687A7;
    font-size: 105%;
}

.contato {
    color: #1687A7;
    font-size: 80%;
}


/*.class #id e tag é tag*/
/* cor vermelha: F02411*/